<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.cmu.p2photo">
    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- TODO REMOVE cleartext true when implementing security features -->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon"
        android:usesCleartextTraffic="true">
        <activity android:name=".AddUserToAlbum"></activity>
        <activity android:name=".ViewAlbum" />
        <activity android:name=".FindUser" />
        <activity android:name=".P2photo" />
        <activity android:name=".Sign_up" />
        <activity android:name=".wifi.WifiDirect" />
        <activity android:name=".cloud.Dropbox" />
        <activity android:name=".CreateAlbum" />
        <activity android:name=".ListAlbums" />
        <activity android:name=".AddUser" />
        <activity android:name=".ShowUsers" />
        <activity android:name=".ShowUserAlbums" />
        <activity android:name=".wifi.MsgSenderActivity" />
        <activity android:name=".ShowAllUsers" />
        <activity android:name=".ViewPhotos" />
        <activity android:name=".ViewPhoto" />
        <activity android:name=".ViewLogs" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.dropbox.core.android.AuthActivity"
            android:configChanges="orientation|keyboard"
            android:launchMode="singleTask">
            <intent-filter>
                <data android:scheme="db-3izhx7xtgnuua5m" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <service android:name="com.cmu.p2photo.wifi.MsgSenderActivity" />
        <service android:name="pt.inesc.termite.wifidirect.service.SimWifiP2pService" />

    </application>

</manifest>